[Unit]
Description=Nightingale telegram sender
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root

Type=simple
ExecStart=/data/itimor/telegram-sender
WorkingDirectory=/data/itimor

Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target